<% if current_user %>
  <script src="/js/functions.js"></script>
  <style type="text/css">

  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:17px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg .tg-s6z2{text-align:center}
  .tg .tg-jhgd{background-color:#3166ff}

  .boton{
    padding: 16px 19px;
    background-color: #87CEFA;
    width: 100%;
  }
  </style>

  <div class="container">
 
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li <%= @gameboard.game.turn_player.nil? ? "class='active'" : '' %>><a href="#mygameboard" data-toggle="tab">My GameBoard</a></li>
      <li <%= @gameboard.game.turn_player ? "class='active'" : '' %>> <a href="#play" data-toggle="tab">Play Game</a></li>

      <li><a href="#green" data-toggle="tab">Green</a></li>
   </ul>

   <!-- TABLERO PARA UBICAR BARCOS -->
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane <%= @gameboard.game.turn_player.nil? ? 'active' : '' %>" id="mygameboard">
          <h2>Puts your ships in position</h2>

          <form class="form-horizontal" action="/players/<%= @player_id %>/games/<%= @game_id %>" method="POST" onsubmit="return verificar()">
              <input type="hidden" name="_method" value="PUT" />
              <input name="barcos" id="barcos" value="<%= ships @gameboard.size %>" type="hidden"/>
              <div class="col-xs-1 ">
                <label>Tenes <label id="lbarcos"><%= ships @gameboard.size %></label> Barcos</label>
              </div>
              <table class="tg col-xs-4">
                <tr>
                  <th class="tg-s6z2 "></th>
                    <% @ships_positions.each_index do |e| %>
                       <th class="tg-s6z2"><%= p e %></th> 
                    <% end %>          
                </tr>
                <% @ships_positions.each_index do |e| %>
                  <tr>
                    <th class="tg-s6z2"><%= p e %></th>
                    <% @ships_positions[e].each_index do |x| %>
                      <td class="tg-031e"> <input class="boton"  type="button" value=" " onClick="assignPosition('<%= "#{e},#{x}" %>')" id="<%= "t1,#{e},#{x}" %>" > </td>
                    <% end %>           
                  </tr>
                <% end %>
              </table>

              <div class="col-xs-2 ">
                <% (1..ships(@gameboard.size)).each do |e| %>
                  <input type="hidden" name="barco<%= p e %>" class="form-control" id="barco<%= p e %>" value="Posicion Barco<%= p e %>" > 
                <% end %>
              </div>

              <div class="col-xs-10">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                  <input type="button" class="btn btn-primary" onClick="history.go(0)" value="Reset Ships">
              </div>
          </form>          
        </div>

        
        <!-- TABLERO PARA JUGAR (solo si hay un turno asignado) -->

        <div class="tab-pane <%= @gameboard.game.turn_player ? 'active' : '' %>" id="play">
          <%if @gameboard.game.turn_player %>
          <h2>Make your move</h2>

            <form class="form-horizontal" id="play_game" action="/players/<%= @player_id %>/games/<%= @game_id %>/move" method="POST" onsubmit="return verificar()">
                <input name="barcos" id="barcos" value="<%= ships @gameboard.size %>" type="hidden"/>
                <div class="col-xs-1 ">
                  <label>Tenes <label id="lbarcos"><%= ships @gameboard.size %></label> Barcos</label>
                </div>
                <table class="tg col-xs-4">
                  <tr>
                    <th class="tg-s6z2 "></th>
                      <% @moves.each_index do |e| %>
                         <th class="tg-s6z2"><%= p e %></th> 
                      <% end %>          
                  </tr>
                  <% @moves.each_index do |e| %>
                    <tr>
                      <th class="tg-s6z2"><%= p e %></th>
                      <% @moves[e].each_index do |x| %>
                        <td class="tg-031e"> <input class="boton" name="<%= p "#{e},#{x}" %>" type="button" value="" onClick="bomb('<%= p "#{e},#{x}" %>')" id="<%= p "#{e},#{x}" %>" > </td>
                      <% end %>           
                    </tr>
                  <% end %>
                </table>

                <div class="col-xs-2 ">
                  <input type="hidden" name="move" class="form-control" id="move" value="bomba" > 
                </div>

                <div class="col-xs-10">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <input type="button" class="btn btn-primary" onClick="history.go(0)" value="Reset Ships">
                </div>
            </form>   
          <% else %>
            <h2>Waiting for all the players are ready ...</h2>
          <% end %>       
        </div>


        <div class="tab-pane" id="green">
            <h1>Green</h1>
            <p>green green green </p>
        </div>


    </div>
</div>


<% end %>
